@font-face {
  font-family: "iconfont"; /* Project id 3945869 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1678516877781') format('woff2'),
       url('iconfont.woff?t=1678516877781') format('woff'),
       url('iconfont.ttf?t=1678516877781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e64c";
}

.icon-QQkongjian:before {
  content: "\e666";
}

.icon-weibo:before {
  content: "\e667";
}

.icon-QQ:before {
  content: "\e668";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-zhihu-square-fill:before {
  content: "\ea8b";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e88d";
}

.icon-shijianxian:before {
  content: "\e85d";
}

.icon-biaoqian:before {
  content: "\e85e";
}

.icon-fenlei:before {
  content: "\e85f";
}

.icon-xiuxian:before {
  content: "\e860";
}

.icon-guanyu:before {
  content: "\e862";
}

.icon-yinyue:before {
  content: "\e863";
}

.icon-dianying:before {
  content: "\e865";
}

.icon-boluo:before {
  content: "\e866";
}

.icon-caomei:before {
  content: "\e867";
}

.icon-jitui:before {
  content: "\e868";
}

.icon-hanbao:before {
  content: "\e86b";
}

.icon-pingguo:before {
  content: "\e86c";
}

.icon-nailao:before {
  content: "\e86d";
}

.icon-fanqiejiang:before {
  content: "\e86e";
}

.icon-kafeibei:before {
  content: "\e86f";
}

.icon-kaomianbaopian:before {
  content: "\e873";
}

.icon-qiaokeli:before {
  content: "\e874";
}

.icon-sudaqishui:before {
  content: "\e875";
}

.icon-yumibaobingjuan:before {
  content: "\e877";
}

.icon-xiangjiao:before {
  content: "\e879";
}

.icon-shousi:before {
  content: "\e87a";
}

.icon-yumi:before {
  content: "\e87d";
}

.icon-xilanhua:before {
  content: "\e87e";
}

.icon-tiantianquan:before {
  content: "\e87f";
}

.icon-quqi:before {
  content: "\e883";
}

.icon-zhibeidangao:before {
  content: "\e884";
}

.icon-tiangua:before {
  content: "\e885";
}

.icon-rouwan:before {
  content: "\e886";
}

.icon-putao:before {
  content: "\e887";
}

.icon-taozi:before {
  content: "\e889";
}

.icon-pisa:before {
  content: "\e88a";
}

.icon-shutiao:before {
  content: "\e88b";
}

